<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loopnow.envconfig.switcher">

    <application>
        <activity
            android:name=".EnvCheckerActivity"
            android:exported="false"
            android:label="Config Check"
            android:process=":envchecker" />

        <provider
            android:name="com.loopnow.envconfig.switcher.EnvProvider"
            android:authorities="${applicationId}.env.config"
            android:exported="true"
            android:permission="com.loopnow.envconfig.sample" />

        <meta-data
            android:name="com.loopnow.envconfig.target.filter"
            android:value="com.loopnow.envconfig" />
    </application>

</manifest>